*{

    font-family: 'Times New Roman', Times, serif;

}

link{
    color: rgb(122, 122, 247);
}
p {

    color: #89CFF0;
   
}

body {

    background-color: whitesmoke;
}

.text-start {
    color: blue;
}
h2{
    color: rgb(34, 3, 143);
}
.container-fluid {
   color: azure;
}
.root-cause-header{
    color: blue;
    font-size: xx-large;
    text-align: center;
}
.initial-research-header{
    color: blue;
    font-size: xx-large;
    text-align: center;
}
.home-page{
    align-items: center;
}