*{

    font-family: 'Times New Roman', Times, serif;

}

link{
    color: rgb(122, 122, 247);
}
p {

    color: #3eb5ec;
   
}

body {

    background-color: whitesmoke;
}

.text-start {
    color: blue;
}
h2{
    color: rgb(34, 3, 143);
}
.container-fluid {
   color: azure;
}
.root-cause-header{
    color: blue;
    font-size: xx-large;
    text-align: center;
}
.initial-research-header{
    color: blue;
    font-size: xx-large;
    text-align: center;
}
.home-page{
    font-size:42px;
    margin-left: auto;
    margin-right: auto;
}
.column-left{
    width: 40px;

}
.column-middle{
    width: 40px;
    
}
.column-right{
    width: 40px;
    
}
.row{
    columns: 50px 3;
}